.gradle/
.idea/
build/
local.properties
app/.cxx
app/src/release
app/release
*.iml
.DS_Store
.externalNativeBuild
/buildSrc/.gradle/*
/buildSrc/build/*
*.log
.navigation/
captures/
app/mapping.txt
*.jks
*.txt
*.pepk